.form-container {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    box-sizing: content-box
}
.form-container input,
.form-container textarea,
.form-container select {
    box-sizing: border-box;
    padding: 10px;
}
.form-container label {
    display: block;
    font-weight: bold;
    color: #333;
    
}

.form-input, 
.description-textarea {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
    transition: border 0.3s ease;
    font-family: 'Poppins', sans-serif;
}


.form-input:focus,
.description-textarea:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.2);
}

.description-textarea {
    height: 50px;
    resize: vertical;
}

.form-button {
    padding: 0.7rem 1.5rem;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    width: 100%;
    max-width: 350px;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-self: center; 
}
.form-button:hover {
    background-color: #444;
    transform: scale(1.05);
}

.field-row {
    display: inline-flex;
    gap: 1.5rem;
    align-items: center !important;
}

.field-map {
    width: 100%;
    margin-bottom: 1.5rem; 
}
