/* src/components/DateInput/DateInput.css */
.date-input {
    border-radius: 4px;
    margin-right: 20px;
    width: 100%;
}

.date-input label {
    color:black;
    display: block;
    font-weight: bold;
}

.date-input .react-datepicker-wrapper {
    width: 100%;
      
}

.date-input .react-datepicker__input-container {
    width: 100%;
}

.date-input .react-datepicker__input-container input {
    width: 100%;
    padding: 15px;
  
    border-radius: 4px;
    border: none;
    background-color: white;
}

.date-input .react-datepicker__input-container input:focus {
    outline: none;
}
.date-picker{
    border: 1px solid #ccc !important;
}
.react-datepicker-popper{
    z-index: 1000;
}