.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/public/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    opacity: 0.8; 
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    position: relative; 
    gap: 20px;
}

.home-title {
    font-size: 2.8rem; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-subtitle {
    font-size: 1.8rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home-invitation {
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.create-event-btn {
     padding: 0.7rem 1.5rem;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    width: 100%;
    max-width: 350px;
    border: none;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    align-self: center; 
}

.create-event-btn:hover {
    background-color: #444;
    transform: scale(1.05);
}

@media screen and (max-width: 768px) {
    .home-title {
        font-size: 2rem;
    }

    .home-subtitle {
        font-size: 1.4rem;
    }

    .home-invitation {
        font-size: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .home-content {
        padding: 20px;
    }

    .home-title {
        font-size: 1.6rem;
    }

    .home-subtitle {
        font-size: 1.2rem;
    }

    .home-invitation {
        font-size: 0.9rem;
    }
}